@font-face { font-family: paola; src: url('paola.ttf'); }

#container {
  margin-top: 200px;
}

h1 { 
  font-family: paola, sans-serif;
  font-size: 65px;
  margin-bottom: 5px;
  margin-top: 10px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
}

h3 {
  font-size: 16px;
  font-style: italic;
  color: #CCCCCC;
  font-family: Georgia, serif;
  font-weight: normal;
}

h4 {
}

body {
  background-color: #2B2F3D;
  color: white;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.box {
  width: 480px;
  background-color: black;
  margin: 5px auto 0px;
  padding: 15px;
  border-radius: 10px;
  z-index:2;
  position:relative;
}

.entry {
  display: block;
  float: left;
  margin: 0px 5px 0px 20px;
  padding: 5px 5px 6px;
  width: 360px;
  font-size: 13px;
}

#sign_up {
  background: -moz-linear-gradient(0% 100% 90deg,#63A62F, #7FBF4D);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7FBF4D), to(#63A62F));
  border-bottom-color: #5B992B;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #63A62F;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #63A62F;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #63A62F;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  float: left;
  color: white;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  outline-color: white;
  outline-style: none;
  outline-width: 0px;
  text-shadow: #4C9021 0px -1px 0px;
  width: 75px;
}

#sign_up:hover {
  background: -moz-linear-gradient(0% 100% 90deg,#5e9e2e, #76b347);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

.thanks {
  width: 480px;
  background: -moz-linear-gradient(0% 100% 90deg,#63A62F, #7FBF4D);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7FBF4D), to(#63A62F));
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -10px;
  height: 30px;
  z-index: 1;
  position:relative;
}

.yikes {
  width: 480px;
  background: -moz-linear-gradient(0% 100% 90deg,#9E080D, #D1080F);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D1080F), to(#9E080D));
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -10px;
  height: 30px;
  z-index: 1;
  position:relative;
}
