body {
  position: relative;
  padding-top: 0px;
  background-color: white;
  background-image: url(../images/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: top;
}

#container {
  margin: 100px auto 0 auto;
}

#container p {
  margin: 10px 0 0 0;
}

[class*="span"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
  margin: 0;
}

.bloc {
  padding: 30px;
  margin-bottom: 30px;
  background-color: whiteSmoke;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.small-bloc {
  margin: 0;
  padding: 10px;
  background-color: whiteSmoke;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}