body {
  position: relative;
  padding-top: 0px;
  background-color: white;
  background-image: url(../images/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: top;
}

#social {
  display: none;
}

#container {
  margin: 100px auto 0 auto;
  p {
   margin: 10px 0 0 0;
  }
}

[class*="span"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
  margin: 0;
  border: 1px solid #E1E1E8;
  margin-bottom: 30px;
}

.bloc {
  padding: 30px;
  background-color: whiteSmoke;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#signup {
  display:none;
}

.small-bloc {
  margin: 0;
  padding: 10px;
  background-color: whiteSmoke;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

form {
  margin: 0;
}

small {
  font-size: 11px;
}

.help {
  color: #999;
  font-style: italic;
  &.error {
    color: #B94A48;
  }
}

.alert {
  float: right;
  margin: 10px;
}

.alert .close {
  top: 3px;
}